.number-button {
  width: 33.3%;
  border-radius: 0%;
  border: 1px solid grey;
  height: 90px;
}

.action-button {
  width: 100%;
  border-radius: 0%;
  border: 1px solid grey;
  background-color: darkred;
  color: whitesmoke;
  height: 90px;
}
